data/
.spyproject/config/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pth
*.pt
*.ckpt
checkpoints/
exps/
results/
models/ops/build/
adet_swin_pt_o365.pth
deta_image_cache/

tools/monitor_deta_batch_loss_qt_minimal_metrics_w_val_launch_info.py
